node_modules/
platforms/
plugins/
build/
logs/
*.sublime-project
*.sublime-workspace
*.log
.deploy
.env-app
.history
.vscode/settings.json
app/typings/globals/
app/typings/index.d.ts
app/scss/libraries.scss
app/scss/_variables.scss
app/ts/app.ts
app/ts/router.ts