
<ion-modal-view class="modal-add">
  <ion-header-bar class="bar-positive">
    <h1 class="title">Add {{ctrl.type}}</h1><a class="button button-icon ion-close-round" ng-click="ctrl.closeForm()"></a>
  </ion-header-bar>
  <ion-content>
    <form name="addForm" ng-submit="ctrl.add(ctrl.type)" no-validate="">
      <ion-list>
        <ion-item class="item-input item-stacked-label">
          <label class="input-label">Name</label>
          <input type="text" ng-model="ctrl.addForm.name" placeholder="The name of the {{ctrl.type}}" required=""/>
        </ion-item>
        <ion-item class="item-input item-stacked-label" ng-if="ctrl.type === &quot;Component&quot; || ctrl.type === &quot;Directive&quot;">
          <label class="input-label">Attributes</label>
          <input type="text" ng-model="ctrl.addForm.attrs" placeholder="Comma separated list of attributes"/>
        </ion-item>
        <ion-item class="item-input item-stacked-label" ng-if="ctrl.type === &quot;Component&quot; || ctrl.type === &quot;Directive&quot;">
          <label class="input-label">Restrict</label>
          <input type="text" ng-model="ctrl.addForm.restrict" placeholder="Restrict directive to element or attribute (Default: EA)"/>
        </ion-item>
        <ion-item class="item-input item-stacked-label" ng-if="ctrl.type === &quot;Controller&quot;">
          <label class="input-label">Directory</label>
          <input type="text" ng-model="ctrl.addForm.dir" placeholder="Directory in which to add the new {{ctrl.type}}"/>
        </ion-item>
        <ion-item class="item-input item-stacked-label" ng-if="ctrl.type === &quot;Route&quot;">
          <label class="input-label">Template Path</label>
          <input type="text" ng-model="ctrl.addForm.template" placeholder="Path to the template you wish to use with the directive"/>
        </ion-item>
        <ion-item class="item-input item-stacked-label" ng-if="ctrl.type === &quot;Route&quot;">
          <label class="input-label">Controller</label>
          <input type="text" ng-model="ctrl.addForm.controller" placeholder="Name of the controller to use on the route"/>
        </ion-item>
        <ion-item class="item-input item-stacked-label" ng-if="ctrl.type === &quot;Route&quot; || ctrl.type === &quot;Page&quot; || ctrl.type === &quot;Resolver&quot; || ctrl.type === &quot;State&quot;">
          <label class="input-label">Resolves</label>
          <input type="text" ng-model="ctrl.addForm.resolves" placeholder="Comma separated list of resolves"/>
        </ion-item>
        <ion-item class="item-input item-stacked-label" ng-if="ctrl.type === &quot;Route&quot;">
          <label class="input-label">Url</label>
          <input type="text" ng-model="ctrl.addForm.url" placeholder="Url of the new {{ctrl.type}}"/>
        </ion-item>
        <ion-item class="item-input item-stacked-label" ng-if="ctrl.type === &quot;Route&quot;">
          <label class="input-label">Resolver</label>
          <input type="text" ng-model="ctrl.addForm.resolver" placeholder="Resolver to use with new {{ctrl.type}}"/>
        </ion-item>
        <ion-item class="item-input item-stacked-label" ng-if="ctrl.type === &quot;State&quot;">
          <label class="input-label">View</label>
          <input type="text" ng-model="ctrl.addForm.view" placeholder="The name of the view"/>
        </ion-item>
        <ion-item class="item-input item-stacked-label" ng-if="ctrl.type === &quot;Service&quot;">
          <label class="input-label">Type</label>
          <input type="text" ng-model="ctrl.addForm.type" placeholder="The type of the new {{ctrl.type}}"/>
        </ion-item>
      </ion-list>
      <button class="button button-clear button-calm button-block icon-right ion-checkmark-round" type="submit" ng-disabled="addForm.$invalid">Add {{ctrl.type}}</button>
    </form>
  </ion-content>
</ion-modal-view>