
<ion-view class="page-home" view-title="home">
  <ion-content>           
    <div class="row">
      <div class="col-xs-4 col-md-2">
        <h3>Madness Enjin</h3>
        <div class="card">
          <ion-list>
            <ion-item class="item-divider">Add</ion-item>
            <ion-item class="item-icon-right" ng-click="ctrl.openForm('Component')"> 
              <h2>Component</h2><i class="icon ion-android-add-circle"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="ctrl.openForm('Controller')"> 
              <h2>Controller</h2><i class="icon ion-android-add-circle"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="ctrl.openForm('Directive')"> 
              <h2>Directive</h2><i class="icon ion-android-add-circle"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="ctrl.openForm('Filter')"> 
              <h2>Filter</h2><i class="icon ion-android-add-circle"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="ctrl.openForm('Modal')"> 
              <h2>Modal</h2><i class="icon ion-android-add-circle"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="ctrl.openForm('Page')"> 
              <h2>Page</h2><i class="icon ion-android-add-circle"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="ctrl.openForm('Popover')"> 
              <h2>Popover</h2><i class="icon ion-android-add-circle"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="ctrl.openForm('Resolver')"> 
              <h2>Resolver</h2><i class="icon ion-android-add-circle"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="ctrl.openForm('Route')"> 
              <h2>Route</h2><i class="icon ion-android-add-circle"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="ctrl.openForm('Service')"> 
              <h2>Service</h2><i class="icon ion-android-add-circle"></i>
            </ion-item>
            <ion-item class="item-icon-right" ng-click="ctrl.openForm('State')"> 
              <h2>State</h2><i class="icon ion-android-add-circle"></i>
            </ion-item>
          </ion-list>
        </div>
      </div>
      <div class="col-xs-8 col-md-10">
        <form ng-submit="ctrl.changeUrl(ctrl.currentUrl)">
          <ion-item class="item-input icon-left"><i class="icon ion-search"></i>
            <input type="text" ng-model="ctrl.currentUrl" ng-blur="ctrl.changeUrl(ctrl.currentUrl)"/>
          </ion-item>
        </form>
        <iframe id="appFrame" src="http://localhost:3000" border="none"></iframe>
      </div>
    </div>
  </ion-content>
</ion-view>