// IMPORTS
@import "../variables";

// PAGE STYLES
.page-home {
    h3 {
        margin: 0;
        display: block;
        width: 100%;
        text-align: center;
        color: #fff;
    }
    iframe {
        width: 100%;
        height: calc(100vh - 100px);
        display: block;
        margin: 0 auto;
    }
    @media (max-width: $screen-xl) {

    }

    @media (max-width: $screen-lg) {

    }

    @media (max-width: $screen-md) {

    }

    @media (max-width: $screen-sm) {

    }

    @media (max-width: $screen-xs) {

    }
}