// IMPORTS
@import "../variables";

// PAGE STYLES
.page-home {
    iframe {
        width: 320px;
        height: 640px;
        display: block;
        margin: 0 auto;
    }
    @media (max-width: $screen-xl) {

    }

    @media (max-width: $screen-lg) {

    }

    @media (max-width: $screen-md) {

    }

    @media (max-width: $screen-sm) {

    }

    @media (max-width: $screen-xs) {

    }
}