ion-view.page-login(view-title='login')
    ion-content
        .card
            ion-list
                ion-item.item-icon-right(ng-click="ctrl.login('google')")
                    i.icon.ion-social-google 
                    h2 Login with Google